<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Visualnews</title>
</head>
<body>
    <div class="logo">
        <h2>Visualnews</h2>
    </div>
    <header>
        <nav class="nav-1">
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Registrarce</a></li>
                <li><a href="#">Iniciar secion</a></li>
                
            </ul>
        </nav>
    </header>
    
    
</body>
</html>