
{% extends 'visualnews/plantilla_header.html' %}

{% block title %}
    Visualnews-inicio
{% endblock %}
{% block body %}
    {% for noticia in noticias %}
        <article class="articulo-main">
            <header class="cabeza-articulo">
                <h2 class="titulo">
                    <a href="{% url 'noticia' noticia.id %}" class="link-titulo">{{noticia.titulo}}</a>
                    
                </h2>
                <h4 class="autor">
                    {{noticia.autor}}
                </h4>
                <p class="fecha">{{noticia.fecha_publicacion}}</p>
            </header>
            
            <footer class="pie-articulo">
                <div class="puntuacion">
                    <span class="puntos">Puntos {{noticia.puntos}}</span>
                </div>
                
            </footer>
        </article>
    {% endfor %}
{% endblock %}

